  body {
      font-family: Arial;
      display: flex;
      margin: 0;
    }

    /* Sidebar */
    .sidebar {
      width: 200px;
      background: #2c3e50;
      color: white;
      height: 100vh;
      padding: 20px;
    }

    .sidebar h2 {
      margin-bottom: 20px;
    }

    .sidebar a {
      display: block;
      color: white;
      margin: 10px 0;
      text-decoration: none;
    }

    /* Main */
    .main {
      flex: 1;
      padding: 20px;
    }

    .form-container {
      background: #f4f4f4;
      padding: 20px;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    input {
      padding: 10px;
      margin: 10px;
      width: 200px;
    }

    button {
      padding: 10px 15px;
      background: green;
      color: white;
      border: none;
      cursor: pointer;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    table, th, td {
      border: 1px solid #ddd;
    }

    th, td {
      padding: 10px;
      text-align: center;
    }

    th {
      background: #2c3e50;
      color: white;
    }